<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></link>

<h1 class="title">Challenge Opi Analytics</h1><hr>

<a class="btn btn-success btn-sm" href="/get-data">Importar datos a un DataFrame</a>
<a class="btn btn-warning btn-sm" href="/training-model">Entrenar modelo</a>
<a class="btn btn-primary btn-sm" href="/predict">Evaluar modelo</a>